.navbar {
    background: #8f9c5c;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    padding: 1vh 5vh;
    width: 100%;
    height: auto;
    max-width: 400px;
}

.navbartoggler {
    background-color: var(--white-ch) !important;
    align-self: center;
}

.button {
    padding: 0 10px;
    font-weight: bold;
    background-color: rgb(0,0,0, 0)
}

.button:hover {
    background-color: var(--white-ch);
    box-shadow: 0 0 2px #222 inset;
}