/*      *****           *****           *****               *****           *****           *****        */
/* This is the only custom file an !important tag will be used in order to override any boostrap styling */
/*      *****           *****           *****               *****           *****           *****        */


@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Raleway&display=swap');

:root {
    --ch-button: #ffa500;
    --ch-button-hover: #fabc4a;
    --black-ch: #333;
    --white-ch: #f7f7f7;
    --teal-ch: #55ffee;
    --green-ch: #8f9c5c;
    --font-primary: 'Arvo', serif !important;
    --font-secondary: 'Raleway', serif !important;
}

html {
    background-color: var(--white-ch);
    color: var(--black-ch);
    /* overflow-x: hidden !important; */
    font-family: 'Raleway', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, nav, .btn, .icon-title {
    font-family: 'Arvo', serif !important;
}

body, p {
    font-family: 'Raleway', sans-serif !important;
    font-family: var(--font-secondary) !important;
}

.jumbotron h1 {
    font-size: 3rem;
}

.container-primary {
    background-color: var(--green-ch) !important;
    padding: 50px 0;
    
}

.container-secondary {
    background-color: var(--white-ch) !important;
    padding: 50px 0;
    
}

.container-primary p, .container-primary h1, .container-primary h2, 
.container-primary h3, .container-primary h4, .container-primary h5,
.container-primary h6 {
    color: var(--white-ch) !important;
    
}

.container-primary p {
    font-weight: bold;
}

.img-align-left {
    float: left;
    margin-right: 20px;
}

.img-align-right {
    float: right;
    margin-left: 20px;
}

.container {
    max-width: 700px !important;
}

.container > div {
    padding-top: 2em !important;
    color: var(--black-ch);
    width: 100%;
}

.btn {
    background-color: var(--green-ch) !important;
    border: 3px solid var(--white-ch) !important;
    border-radius: 7px !important;
    padding: 10px 30px !important;
    margin: 10px 15px !important;
    box-shadow: 0px 0px 3px #999;
    width: 90%;
    max-width: 175px;
    font-weight: bold !important;
    color:var(--white-ch) !important;
    transition: box-shadow 0.2s, transform 0.2s !important;
}

.btn:hover {
    background-color: var(--green-ch) !important;
    color: var(--white-ch) !important;
    /* color: #666 !important; */
    border: 3px solid var(--white-ch) !important;
    box-shadow: -3px 3px 15px #999 ;
    /* box-shadow: none; */
    transform: rotate(3deg);
}

input, textarea {
    border: 3px solid var(--green-ch);
    /* box-shadow: 0 0px 10px #bbb; */
    border-radius: 5px;
    background-color: var(--white-ch) !important;
}

a {
    color: inherit !important;
}
